.Title {
  display: inline-block;
  padding: $spaceSmall $spaceRegular;
  @extend .Font-Black;
  @extend .Font-Upper;

  &--H1 {

  }

  &--H2 {

  }

  &--H3 {
    font-size: 22px;
    @extend .Font-Black;
  }

  &--red {
    background: $red;
    color: $white;
  }

  &--green {
    background: $green;
    color: $white;
  }

  &--blue {
    background: $blue;
    color: $white;
  }
}
