.Articles {
  margin: $spaceLarge 0;

  .col-md-4:first-child .ArticleBox {
    margin-left: 0;
  }
}

.Article {
  &Box {
    background: $white;
    padding: $spaceBig;
    margin-left: $spaceMedium ;
  }

  &-Title {

  }

  &-Image {
    max-width: 100%;
    min-height: 240px;
  }

  &-Description {
    height: 90px;
    overflow: hidden;
  }

  &-Footer {
    text-align: right;
  }

  &-Image,
  &-Description,
  &-Footer {
    margin-top: $spaceBig;
  }
}
