.History {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-top: $spaceExtraLarge;

  &-Logo {
    width: 20%;

    img {
      max-width: 300px;
      min-height: 240px; 
    }
  }

  &-Description {
    padding: 0 $spaceBig;

    p {
      margin-top: $spaceBig;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &-Logo,
  &-Description {
    display: table-cell;
    vertical-align: middle;
  }
}
