@import   url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700,900,900i');

html, body {
  font-family: 'Roboto', sans-serif;
}

.Global {
  &-WithMargin {
    @include breakpoint(sm) {
      margin-top: $spaceUltraLarge;
    }

    @include breakpoint(xs) {
      margin-top: 68px;
    }
  }
}

strong {
  @extend .Font-Black;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
