/* Variables pour les espaces */

$spaceSmall     : 5px;
$spaceMedium    : 10px;
$spaceRegular   : 15px;
$spaceBig       : 20px;
$spaceLarge     : 30px;
$spaceExtraLarge: 40px;
$spaceUltraLarge: 110px;
